{{ template "base" . }}

{{ define "title"}}homepage{{ end }}

{{ define "main" }}

    <div id="app"></div>

    {{ vite }}
    {{ asset "src/main.ts" }}

    <script>
        window.$cfg = Object.freeze({{ .Config }})
    </script>
   
{{ end }}